@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Times New Roman", Times, serif;
}

@layer components {
    .card {
        @apply flex items-center justify-center;
        width: 300px;
        height: 100px;
        background-color: theme("colors.twitter-blue");
    }
}